@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1b1b1b;
  overflow-x: hidden;
}

button {
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  border: 3px solid rgb(124 58 237);
  background: transparent;
  color: white;
  transition: all 0.5s ease;
}

button:hover {
  background-color: rgb(124 58 237);
  color: white;
}

span {
  font-weight: bold;
  color: rgb(124 58 237);
}

.Header {
  background: rgba(40, 40, 40, 0.87);
  backdrop-filter: blur(3.9px);
  -webkit-backdrop-filter: blur(3.9px);
  position: fixed;
  margin-top: 0px;
  left: 0;
  width: 100%;
}

.Footer {
  background: rgba(40, 40, 40, 0.87);
  backdrop-filter: blur(3.9px);
  -webkit-backdrop-filter: blur(3.9px);
  width: 100%;
}

.headline-title {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
}

.frame-1,
.frame-2,
.frame-3,
.frame-4 {
  position: fixed;
  left: 0;
  top: 0%;
  width: 100%;
  height: 100vh;
  z-index: 2;
}

.frame-1 {
  background: rgb(196 181 253);
}
.frame-2 {
  background: rgb(167 139 250);
}
.frame-3 {
  background: rgb(139 92 246);
}
.frame-4 {
  background: rgb(124 58 237);
}

.underline-header {
  height: 0.3rem;
  background: rgb(124 58 237);
  width: 0%;
}

@media (max-width: 1300px) {
  .underline-header {
    left: 0%;
  }
}
